* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body {
    background: #78648c;
}

#modalbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 450px;
    text-align: center;
    padding: 80px 60px;
    font-size: 18px;
    font-weight: 500;
    background: rgb(161, 243, 200);
}

.cookies {
    width: 100px;
    margin-bottom: 15px;
}

#modalbox button {
    background: #78648c;
    color: whitesmoke;
    padding: 15px 0;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    width: 100px;
    border: 0;
    outline: 0;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.close-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}